<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         cacheResult="true"
         executionOrder="depends,defects"
         colors="true"
         stopOnDefect="true"
         stopOnError="true"
         stopOnWarning="true"
         stopOnRisky="true"
         stopOnFailure="true"
         stopOnDeprecation="true"
         stopOnIncomplete="true"
         stopOnNotice="true"
         stopOnSkipped="true"
         failOnAllIssues="true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory phpVersion="8.4">tests/</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true">
        <include>
            <directory suffix="Test.php">src/</directory>
        </include>
    </source>

    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <!-- ... -->
    </coverage>
</phpunit>
